/* Página em geral */

html, body{
	margin: 0;
    padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 14pt;
    height: 100%;
    overflow: hidden;
}

body {
	background-color: #CEFFC2;
}


/* Navegação */

.header {
	background-color: #CEFFC2;
	box-shadow: 0 4px 2px -2px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_toolbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_toolbar a:link {
    color: #fa8282;
    text-decoration: none;
}

.header_toolbar a:visited {
    color: #fa8282;
    text-decoration: none;
}

.header_toolbar a:hover {
    color: #FF2969;
    text-decoration: none;
}

.nav_opcao_meio {
    display: flex;	
    align-items: center;
    justify-content: center;
    width: 33.3%;
}

.nav_opcao_esq {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}

.nav_opcao_dir {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}

.nav_opcao_esq_child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.nav_opcao_dir_child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}

#logo_insta {
    width: 70px;
    height: 70px;
}

#logo {
	width: 360px;
	height: 150px;
}


/* Rodapé */

footer {
    margin: 5px 20px 5px 20px;
    font-size: 10pt;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* HOME DE VISUALIZAÇÃO - Conteúdo da página (header de posts) */

.header_posts {
	height: 80px;
	margin: 20px 20px 0px 20px;
	background-color: #FFD1D3;
    border-radius: 10px 10px 0px 0px;
    border-bottom-style: solid;
    border-width: 1px;
}

.header_posts input {
    margin-top: 22px;
    width: 300px;
    height: 30px;
    font-size: 14pt;
    overflow: hidden;
    position: absolute;
    left: 100px;
}

.header_posts button {
    margin-top: 20px;
    position: absolute;
}

.header_posts #pesquisar {
    height: 35px;
    background-color: #FFE8F5;
    left: 410px;
}

.header_posts #adicionar_planta {
    width: 200px;
    height: 40px;
    right: 220px;
    background-color: #34c164;
    
}

.header_posts #adicionar_planta a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* HOME DE VISUALIZAÇÃO - Conteúdo da página (lista de plantas) */

.plantas {
	height: 420px;
	margin: 0px 20px 5px 20px;
	background-color: #FFD1D3;
    border-radius: 0px 0px 10px 10px;
    overflow: auto;
    text-align: center;
}

.lista_plantas {
    height: 100%;
    list-style-type: none;
} 

.lista_plantas li {
    margin: 50px;
    width: 25%;
    float: left;
}

.planta {
    background-color: white;
    border-radius: 10px;
    height: 450px;
    margin-bottom: 20px;
}

.plantas .imagem, .plantas .texto{
    width: 100%;
    display: block;
}

.plantas .imagem {
    height: 80%;
}

.plantas .imagem img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
}

.plantas .texto {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plantas .planta a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGIN */

.login html {
    display: table;
}


.login .aviso {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34c164;
}

.login a {
    text-decoration: none;
    color: black;
}

.login a:visited {
    color: black;
}
   

.login .content {
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;   
}

.login h1 {
    font-size: 48px;
    color: black;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.login h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,black 20%, black 53%, black 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%, black 20%,black 53%,black 79%,rgba(147,184,189,0) 100%); 
}

.login p {
    margin-bottom:15px;
}

.login .content {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
   
.login .content p:first-child {
    margin: 0px;
}
   
.login label{
    color: black;
    position: relative;
}

/* Placeholder */
.login ::-webkit-input-placeholder  {
    color: gray; 
    font-style: italic;
}
   
.login input:-moz-placeholder, textarea:-moz-placeholder {
    color: gray;
    font-style: italic;
}

.login input {
    outline: none;
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    border-radius: 3px;
   
}

   
/* Estilo do botão submit */
.login button[type="submit"] { 
    width: 100%!important;
    cursor: pointer;  
    background: #FF707A;
    padding: 8px 5px;
    font-size: 20px;  
    margin-bottom: 10px;  
    border: 1px solid #b2b2b2;
   
    border-radius: 5px;
    border-radius: 5px;
   
}
   
/* Estilo do botão submit no hover */
.login button[type="submit"]:hover {
    background: #FF4D52;
}


.login .link {
    position: absolute;
    background: #FFAFA6;
    color: black;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid black;
    border-radius: 0 0  5px 5px;
}
   
.login .link a {
    font-weight: bold;
    padding: 6px;
    margin-left: 10px;
    border-radius: 4px;
    border-radius: 4px;  
   
}

.login .link a:hover {
    background: #FF8080;
}

.login #login {
  position: absolute;
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 0 0;
  background: #FFDBDC;
  border-radius: 5px;
}

/* CADASTRO */

.cadastro html {
    display: table;
}


.cadastro .aviso {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34c164;
}

.cadastro a {
    text-decoration: none;
    color: black;
}

.cadastro a:visited {
    color: black;
}

.cadastro .content {
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;   
}

.cadastro h1 {
    font-size: 48px;
    color: black;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.cadastro h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,black 20%, black 53%, black 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%, black 20%,black 53%,black 79%,rgba(147,184,189,0) 100%); 
}

.cadastro p {
    margin-bottom:15px;
}
   
.cadastro .content {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.cadastro .content p:first-child {
    margin: 0px;
}
   
.cadastro label{
    color: black;
    position: relative;
}

/* Placeholder */
.cadastro ::-webkit-input-placeholder  {
    color: gray; 
    font-style: italic;
}
   
.cadastro input:-moz-placeholder, textarea:-moz-placeholder {
    color: gray;
    font-style: italic;
}

.cadastro input {
    outline: none;
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
    border-radius: 3px;
    border-radius: 3px;
   
}

   
.cadastro button[type="submit"] {
    width: 100%!important;
    cursor: pointer;  
    background: #FF707A;
    padding: 8px 5px;
    font-size: 20px;  
    margin-bottom: 10px;  
    border: 1px solid #b2b2b2;
   
    border-radius: 5px;
    border-radius: 5px;
   
}
   
.cadastro button[type="submit"]:hover {
    background: #FF4D52;
}


.cadastro .link {
    position: absolute;
    background: #FFAFA6;
    color: black;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid black;
   
    border-radius: 0 0  5px 5px;
}
   
.cadastro .link a {
    font-weight: bold;
    padding: 6px;
    margin-left: 10px;

    border-radius: 4px;  
   
}
   
.cadastro .link a:hover {
    background: #FF8080;
}

.cadastro #registrar-se {
    width: 88%;  
    padding: 18px 6% 60px 6%;
    margin: 0 0 0 0;
    background: #FFDBDC;
    border-radius: 5px;
}

/* ADICIONAR PLANTA */


.adicionarplanta {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFDBDC;
    height: 500px;
    border-radius: 10px;
}

.adicionarplanta .aviso {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34c164;
}


.adicionarplanta .item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}

.adicionarplanta input[type="file"] {
    margin-top: 15px;
}

.adicionarplanta input {
    width: 20%;
    position: relative;
}

.adicionarplanta textarea {
    width: 90%;
    height: 280px;
    resize: none;
}

.adicionarplanta button {
    width: 40%;
    height: 30%;
    background-color: #FF707A;
    font-size: 16pt;
    position: relative;
}

.adicionarplanta button a {
    text-decoration: none; 
    color: black;
}

.adicionarplanta #fotoplanta {
    width: 100%;  
    margin: auto;

}

.adicionarplanta #nomeplanta::placeholder, textarea::placeholder {
    font-style: italic;
}

/* SOBRE NÓS */

.sobrenos body {
	background-color: #FFD1D3;
}

.sobrenos .pessoa {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    height: 105px;
}

.sobrenos .imagem, .texto{
    height: 100%;
    float: left;
}

.sobrenos .imagem {
    width: 10%;
}

.sobrenos .imagem img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.sobrenos .texto {
    width: 89%;
    display: flex;
    align-items: center;
    overflow: auto;
}

.sobrenos .texto p{
    margin-left: 20px;
}

/* CONHEÇA O PROJETO */

.conhecaoprojeto body {
	background-color: #FFD1D3;
}


.conhecaoprojeto {
    font-size: 20pt;
    padding: 0px;
}

/* Imagens redondas da horta */
.conhecaoprojeto .parte1 {
    height: 150px;
    margin-top: 10px;
}


.conhecaoprojeto .imagem_redonda {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100%;
    float: left;
}

.conhecaoprojeto .imagem_redonda img {
    border-radius: 50%;
    width: 33%;
    height: 100%;
}

/* Texto do projeto */

.conhecaoprojeto .parte2 {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0px;
}

.conhecaoprojeto .parte2filho {
    width: 49%;
    height: 350px;
    display: flex;
    float: left;
    margin: 0px;
}

.conhecaoprojeto .texto_projeto {
    width: 70%;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: auto;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.conhecaoprojeto .imagem_livro {
    margin-top: 20px;
    margin-left: 50px;
}

.conhecaoprojeto .imagem_livro img {
    width: 100%;
    height: 100%;
}

.conhecaoprojeto .texto_livro {
    width: 40%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

